body {
    font-family: 'Istok Web', sans-serif;
}

.heading-primary {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: .85;
    text-transform: uppercase;

    &--white {
        color: #fff;
    }

    &--green {
        color: var(--color-green);
    }

    &--grey {
        color: var(--color-grey);
    }

    &--big {
        font-size: 5rem;
    }

    &--small {
        font-size: 3.5rem;
    }
}

.heading-secondary {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;

    &--grey {
        color: var(--color-grey-light-2);
    }
}

.text-heading {
    font-size: 1rem;
    color: var(--color-grey-light);
    margin-left: .5rem;
    text-transform: uppercase;
}

.text-regular {
    color: #fff;
    font-size: 1.3rem;
}

.icon-leaf {
    margin-left: 1rem;
    transform: rotate(45deg) scale(.85);
}