body {
    font-family: 'Istok Web', sans-serif;
}

.heading-primary {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: .85;
    text-transform: uppercase;

    &--green {
        color: var(--color-green);
    }

    &--grey {
        color: var(--color-grey);
    }
}

.text-heading {
    font-size: 1rem;
    color: var(--color-grey-light);
    margin-left: .5rem;
    text-transform: uppercase;
}

.icon-leaf {
    margin-left: 1rem;
    transform: rotate(45deg) scale(.85);
}