.info {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;

    width: var(--row);

    &__boxes {
        width: 100%;

        display: flex;
        margin-bottom: 5rem;
    }

    &__box {
        width: 37rem;
        height: 16.5rem;

        background: black;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        opacity: .5;

        transition: all .3s;

        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }

    &__circle-boxes {
        display: flex;
        justify-content: space-between;
    }

    &__circle-box {

    }

    &__icon {
        font-size: 5rem;
    }
}